<form action="{% url 'encuestas:voto' pregunta.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ pregunta.pregunta_text}}</h1></legend>
    
    {% if error_message %}
        <p><strong>{{ error_message }} </strong></p>
    {% endif %}
    
    {% for opcion in pregunta.opciones_set.all %}
        <input 
            type="radio"
            name="opcion"
            id="opcion{{ forloop.counter }}"
            value="{{opcion.id}}"
        >
        <label for="opcion{{ forloop.counter }}">
            {{ opcion.opcion_text}}
        </label>
        <br>
    {% endfor %}
</fieldset>
<input type="submit" value="Votar!">
</form>



<!-- <h1>{{ pregunta.pregunta_text }}</h1>
<ul>
    
    {% for opcion in pregunta.opciones_set.all  %}

        <li>{{ opcion.opcion_text }}</li>
        
    {% endfor %}    
</ul> -->